<header>
  <div class="container">
    <h1>
      <a href="/">
        <div class="rob"><img src="/images/ME2.jpg" height="100" width="100" alt="Joshua Eichler-Summers" /></div>
        <div style="position: relative; top:10px">
        Josh Summers
      </div>
      </a>
    </h1>
    <br />
    <p class="tagline">A blog about learning while making things with good people.  
      <br/>
        Founder of <a href="https://shufflehub.com" target="_blank">Shufflehub</a> <br> Maker of<a href="http://jumblestream.com" target="_blank">Jumble Stream</a>, <a href="http://keyboardcalculator.com/" target="_blank">Keyboard Calculator</a> &#38; <a href="http://southfacingapp.com/" target="_blank">South Facing Sun</a><!--  <a href="http://analysisofanadvert.com/" target="_blank">Analysis of an Advert</a> &#38; <a href="/josh-summers-reading-list">My Reading List</a -->><Br>


      <span style="line-height: 2.7em;"><a href="https://twitter.com/atJoshSummers" class="my-twitter-follow-button" data-show-count="false" data-dnt="true">Follow @atJoshSummers</a></span></p>
      
            <nav>
      <!--
    <div style="padding-top:20px; position: absolute; top: 0px; right: 10px">
      <a href="/archive" style="text-decoration: underline">Archive</a>
      |
      <a href="/" style="text-decoration: underline">Essays</a>
      |
      <a href="http://more.robertheaton.com">More</a>
      -->
    </div>
  </div>
</header>
