<header>
  <div class="container">
    <h1>
      <a href="/">
        <div class="rob"><img src="/images/ME2.jpg" height="100" width="100" alt="Joshua Eichler-Summers" /></div>
        <div style="position: relative; top:10px; color: #1D62F0;">
        Blog of Josh Summers
      </div>
      </a>
    </h1>
    <br />
    <p class="tagline">Venture capitalist &#38; founder<span class="mob-no">. Lots to learn, but <a href="mailto:josh@dncapital.com?Subject=From%20joshsummers.co.uk%3A%20">happy to help</a>.</span>
      <br/>
        Investment Team at <a href="https://twitter.com/dncapital" target="_blank">DN Capital</a>

         <br> Founder of <a href="http://taaalk.co" target="_blank">Taaalk</a><Br>


      <!-- <span style="line-height: 2.7em;"><a href="https://twitter.com/atJoshSummers" target="_blank" class="my-twitter-follow-button" data-show-count="false" data-dnt="true">Follow @atJoshSummers</a></span></p> -->
      <div class="mobiletwitterbutton">
        <a href="http://deeplink.me/twitter.com/joshsummersblog" style="border: none;">
          <div class="mobtwitterbuttonstyles" > 
          <img src="/images/jstwitterwhite.png" style="max-height: 19px; vertical-align: middle; ">
          Follow Blog Updates
          <!-- <a href="http://deeplink.me/twitter.com/joshsummersblog" style="border: none; padding: none;"><img src="/images/jsfollow.png" style="max-width:168px; border: none; padding: none;"></a><br> -->
          </div>
          <img src="/images/openapp.png" style="vertical-align:top; margin-top:7px;">
        </a>
        <br>
        <small style="color:#ababab;">@JoshSummersBlog will open in Twitter app.</small>
      </div>

      <div class="mobile-twitter-div">
        <div style="max-width: 400px; height: 240px; position: relative; font-size: 0px; margin-top: 6px; -webkit-animation: fade-in 1.5s; -moz-animation: fade-in 1.5s; animation: fade-in 1.5s;">
          <div style="position:absolute; background-color: white; z-index: 1000; top: 5px; left: 7px; height: 36px; width: 200px; font-size: 13px;"><p style="padding: 5px; font-weight: bold; color: #1D62F0;">Blog Updates</p></div>
          <a class="twitter-timeline" href="https://twitter.com/JoshSummersBlog" data-widget-id="567302659959300096" width="100%" height="240" >Tweets by @JoshSummersBlog</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
            <nav>
      <!--
    <div style="padding-top:20px; position: absolute; top: 0px; right: 10px">
      <a href="/archive" style="text-decoration: underline">Archive</a>
      |
      <a href="/" style="text-decoration: underline">Essays</a>
      |
      <a href="http://more.robertheaton.com">More</a>
      -->
    </div>
  </div>
</header>
