<header>
  <div class="container">
    <h1>
      <a href="/">
        <div class="rob"><img src="/images/ME2.jpg" height="100" width="100" alt="Joshua Eichler-Summers" /></div>
        <div style="position: relative; top:10px; color: #1D62F0;">
        Blog of Josh Summers
      </div>
      </a>
    </h1>
    <br />
    <p class="tagline">Making stuff and learning.  
      <br/>
        Main stuff: <a href="http://taaalk.co" target="_blank">Taaalk</a>, <a href="http://breatheindustries.com" target="_blank">Breathe Industries</a> &#38; <a href="https://shufflehub.com" target="_blank">Shufflehub</a>

         <br> Other stuff: <a href="http://jumblestream.com" target="_blank">Jumble Stream</a>, <a href="http://keyboardcalculator.com/" target="_blank">Keyboard Calculator</a> &#38; <a href="http://southfacingapp.com/" target="_blank">South Facing Sun</a><!--  <a href="http://analysisofanadvert.com/" target="_blank">Analysis of an Advert</a> &#38; <a href="/josh-summers-reading-list">My Reading List</a --><Br>


      <span style="line-height: 2.7em;"><a href="https://twitter.com/atJoshSummers" target="_blank" class="my-twitter-follow-button" data-show-count="false" data-dnt="true">Follow @atJoshSummers</a></span></p>
      
      <a class="twitter-timeline" href="https://twitter.com/JoshSummersBlog" data-widget-id="567302659959300096" width="400" height="240">Tweets by @JoshSummersBlog</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <nav>
      <!--
    <div style="padding-top:20px; position: absolute; top: 0px; right: 10px">
      <a href="/archive" style="text-decoration: underline">Archive</a>
      |
      <a href="/" style="text-decoration: underline">Essays</a>
      |
      <a href="http://more.robertheaton.com">More</a>
      -->
    </div>
  </div>
</header>
