<section style="
padding-bottom: 10">

<div style="max-width: 400px; height: 240px; position: relative; font-size: 0px; margin-top: 6px; -webkit-animation: fade-in 1.5s; -moz-animation: fade-in 1.5s; animation: fade-in 1.5s;">
        <div style="position:absolute; background-color: white; z-index: 1000; top: 1px; left: 7px; height: 36px; width: 200px; font-size: 13px; line-height: 10px;"><p style="padding: 5px; font-weight: bold; color: #1D62F0;">Daily Blog Updates:</p></div>
        <a class="twitter-timeline" href="https://twitter.com/JoshSummersBlog" data-widget-id="567302659959300096" width="100%" height="240" >Tweets by @JoshSummersBlog</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

	<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" style="
    text-align: left;
    width: auto;
    margin: 10px auto 0 auto;
">
	<form action="http://productbroadcasters.us9.list-manage.com/subscribe/post?u=5d710e80a9014dd01ca36f0f0&amp;id=df36c8435b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h4 style="margin-top:-10px; margin-bottom:7px; font-size: 20px;">Get more posts like this</h4>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@domain.com" style="width:200px;font-size: 1.1em; padding-left:4px; line-height:1.7em; -webkit-appearance: none; -moz-appearance: none; border: 1px solid black; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
  <div id="mce-responses" class="clear" style="margin-top:15px">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative; top: -1px; border-radius: 3px;
border: 3px solid #1D62F0;
cursor: pointer;
height: 37px;background-color: #1D62F0;
color: white;
font-size:1.1em;
-webkit-appearance: none;
  -moz-appearance: none;">
</form>
<div style="
    margin-top: -10px;
    ">
    <small style="margin-top: -5px;color: #AAA;">
        (or <a href="http://feeds.feedburner.com/joshsummers">RSS</a>
         )
       </small>
     </div>
</div>
<div style="clear:both"></div>
<!--End mc_embed_signup-->
</section>
