<section style="
padding-bottom: 10">
	<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" style="
    text-align: left;
    width: auto;
    margin-top: -7px;
    margin: 0 auto;
">
	<form action="http://productbroadcasters.us9.list-manage.com/subscribe/post?u=5d710e80a9014dd01ca36f0f0&amp;id=df36c8435b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h4 style="margin-top:-10px; margin-bottom:7px; font-size: 20px;">Get more posts like this</h4>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@domain.com" style="width:200px;font-size: 1.1em; padding-left:4px; line-height:1.7em; -webkit-appearance: none; -moz-appearance: none; border: 1px solid black; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
  <div id="mce-responses" class="clear" style="margin-top:15px">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative; top: -1px; border-radius: 3px;
border: 3px solid #1D62F0;
cursor: pointer;
height: 37px;background-color: #1D62F0;
color: white;
font-size:1.1em;
-webkit-appearance: none;
  -moz-appearance: none;">
</form>
<div style="
    margin-top: -10px;
    ">
    <small style="margin-top: -5px;color: #AAA;">
        (or <a href="http://feeds.feedburner.com/joshsummers">RSS</a>
         )
       </small>
     </div>
</div>
<div style="clear:both"></div>
<!--End mc_embed_signup-->
</section>
