<section class='info'>
      <h3 class="section-title">Recent Posts</h3>
      {% if site.related_posts %}
        {% for post in site.related_posts, limit: 4 %}
          <div class="item"><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% endfor %}
      {% else %}
        {% for post in site.posts, limit: 4 %}
          <div class="item"><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% endfor %}
      {% endif %}
</section>


<section style="
padding-bottom: 10">
	<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" style="
    margin-top: 8px;
">
	<form action="http://productbroadcasters.us9.list-manage.com/subscribe/post?u=5d710e80a9014dd01ca36f0f0&amp;id=df36c8435b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h4 style="margin-top:-10px; margin-bottom:7px;">Sign up to my mailing list:</h4>
<input autofocus="autofocus" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@domain.com" style="width:300px;font-size: 1.1em; padding-left:4px; line-height:1.7em">
  <div id="mce-responses" class="clear" style="margin-top: 10px">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative;left: 0; border-radius: 3px;
border: 3px solid #1D62F0;
cursor: pointer;
height: 37px;background-color: #1D62F0;
color: white;
display: block;
font-size: 1.1em">
</form>
<!--End mc_embed_signup-->
</section>
